* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007aff;
  color: #ffffff;
  width: 100%;
  padding: 40px 20px;
}

header h1 {
  font-size: 4rem;
}

header ul {
  display: flex;
}

header li {
  margin-left: 30px;
}

figure img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

header a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

header a:hover {
  color: aqua;
}

header ul li {
  list-style: none;
}

/* MAIN */
main{
  padding: 10px;
  text-align: center;  
}

main figure figcaption {
  text-align: center;
}

main h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

main p {
  padding: 10px;
  margin: 0 auto;
  text-emphasis: none;
}

h2,
footer {
  text-align: center;
}


main figure img:hover {
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.6);
}

main aside {
  background-color: #f5f5f5;
  padding: 50px;
}

main aside h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main aside li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}


/* FOOTER */
footer {
  color: #ffffff;
  background-color: #74869b;
  padding: 20px;
}

footer h2 {
  text-align: center;
}


img {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='submit']{
  background-color: #007aff;
  color: #ffffff;
}

/* HOBBIES */
section {
  text-align: center;
}
section h2{
  text-align: center;
}

section video{
  padding: 20px;
  width: 100vw;
  height: 300px;
}

section div{
  display: flex;
  justify-content: space-around;
}

section div img{
 width: 50px;
 height: auto;
}

@media only screen and (max-width: 599px) {

  header h1 {
    text-align: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*lenguajes*/
  section div{
    flex-direction: column;
  }
 
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    text-align: center;
  }

  img {
    max-width: 50%;
    height: auto;
  }

  h1,
  h2,
  p {
    font-size: 3rem;
    text-align: left;
  }
}

p {
  font-size: 20px;
}

iframe {
  align-items: center;
}

p {
  text-align: justify;
}